<p>
    <strong>Hello {{username}},</strong> <br><br>

    We've recieve a reset password request from you.<br>
    Please follow this <a href='{{link}}'>link</a> to reset password.<br><br>

    Best Regard,<br>
    Random-Me developer.<br><br><br><br><br>
</p>

<p>
    <strong>สวัสดี {{username}},</strong><br><br>

    เราได้รับคำขอเปลี่ยนรหัสผ่านของคุณ<br>
    โปรดกดที่ <a href='{{link}}'>ลิงก์นี้</a> เพื่อเปลี่ยนรหัสผ่าน<br><br>

    ด้วยความนับถือ,<br>
    ทีม Random-Me<br><br><br><br><br>
</p>